In [5]:
import pandas as pd
import csv

file_path = 'E:/Downloads/movies.txt'
out_path = 'E:/Downloads/dataset.csv'

data_file = open(file_path, 'rb')
cols = ['review_time','review_score','review_text']
out_file = open(out_path, 'wb')

w = csv.writer(out_file)
w.writerow(cols)

def write_row(doc):
    w.writerow([doc.get(col) for col in cols])

count = 0
doc = {}
for line in data_file:
    line = line.strip()
    if line == '':
        write_row(doc)
        doc = {}
        count += 1
        
    else:
        idx = line.find(':')
        key, value = tuple([line[:idx],line[idx+1:]])
        key = key.strip().replace('/','_').lower()
        value = value.strip()
        doc[key] = value

if doc:
    write_row(doc)
    count += 1

data_file.close()
out_file.close()

TypeError: a bytes-like object is required, not 'str'

In [38]:
text.values[-2]
# score.value_counts

array(["  This is one of the best drama court room films I've ever seen.  The actors were great and convincing, and the story well written.<br /><br />Along with Inherit the Wind, and Trial at Nuremberg this is up their with the best Trials I've ever seen.  Very impressed."],
      dtype=object)

In [39]:
score.values[-2]

array([4.])

In [12]:
df = pd.DataFrame(score, columns=['score'])
# df.set_index()
df['score'] = score
df['text'] = text
print(len(df['text']))

7911683

In [11]:
df.tail(10)

         score                                               text
7911673    5.0   As a listener to C2C, I was excited about thi...
7911674    5.0   This was a very interesting dvd, but the let ...
7911675    5.0   Now for the first time, this film presents th...
7911676    3.0                                                NaN
7911677    5.0                                                NaN
7911678    3.0                                                NaN
7911679    5.0                                                NaN
7911680    2.0                                                NaN
7911681    4.0                                                NaN
7911682    5.0                                                NaN